configuration {
        modi: "drun";
        lines: 5;
        cycle: false;
        font: "JetBrainsMono NF Bold 11";
        show-icons: true;
        icon-theme: "Papirus-dark";
        terminal: "kitty";
        drun-display-format: "{icon} {name}";
        location: 0;
        disable-history: true;
        hide-scrollbar: true;
        display-drun: " Apps ";
        display-Network: " Network";
        sorting-method: "fzf";
}

@theme "theme"
