/* base00 #32302f; */
/* base01 #3c3836; */
/* base02 #504945; */
/* base03 #665c54; */
/* base04 #bdae93; */
/* base05 #d5c4a1; */
/* base06 #ebdbb2; */
/* base07 #fbf1c7; */
/* base08 #fb4934; */
/* base09 #fe8019; */
/* base0A #fabd2f; */
/* base0B #b8bb26; */
/* base0C #8ec07c; */
/* base0D #83a598; */
/* base0E #d3869b; */
/* base0F #d65d0e; */

* {
  border: none;
  border-radius: 0px;
  min-height: 0;
  min-width: 0;
  font-family: "JetBrainsMono";
  font-size: 16px;
  font-weight: 800;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: #32302f;
}

#workspaces button {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  color: #bdae93;
}

#workspaces button:hover {
  color: #32302f;
  background-color: #bdae93;
}

#workspaces button.active {
  color: #32302f;
  background-color: #bdae93;
}

#workspaces button.urgent {
  background-color: #bdae93;
}

#window,
#network,
#battery,
#weather,
#pulseaudio,
#language,
#clock,
#tray {
  margin: 0;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-radius: 0;
}

#window {
  color: #bdae93;
  border-bottom: 5px solid #bdae93;
}

#network {
  color: #8ec07c;
  border-bottom: 5px solid #8ec07c;
}

#battery {
  color: #d3869b;
  border-bottom: 5px solid #d3869b;
}

#custom-weather {
  color: #fbf1c7;
  border-bottom: 5px solid #fbf1c7;
}

#pulseaudio {
  color: #83a598;
  border-bottom: 5px solid #83a598;
}

#language {
  color: #fb4934;
  border-bottom: 5px solid #fb4934;
}

#clock {
  color: #d65d0e;
  border-bottom: 5px solid #d65d0e;
}

#tray {
  color: #b8bb26;
  border-bottom: 5px solid #b8bb26;
}
